/* TODO Add site wide styles */
* { box-sizing: border-box }
:root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: #eee;
  margin: 0;
  padding: 0
}
.action-button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px;
  text-transform: uppercase;
  width: 100px;
}
label {
  border: 1px solid #cacaca;
  border-radius: 5px;;
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
label:focus-within {
  background-color: black;
  border-color: black;
  color:white;
}
form li {
  color: red;
  list-style: none;
}