#project-page {
  margin: 20px 10% 0 10%;
  align-items: flex-start;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

#project-page>div {
  border: 1px solid #cacaca;
  border-radius: 10px;
  min-height: 80vh;
  padding: 10px;
}

#project-page>div h2 {
  margin: 0;
}

#project-deets {
  width: 80%
}

#project-users {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  width: 20%;
}

#project-users span:first-child {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-side-card {
  background-color: white;
  border: 1px solid none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  width: 100%;
}

.user-side-card.currUser {
  border: 1px solid goldenrod;
}

.user-side-card.creator {
  background-color: goldenrod;
  color: white;
}


#ticket-container {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.ticket-card {
  align-items: flex-start;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #cccccc;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tc-header {
  align-items: center;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}
.tc-header h4 { margin: 0 }

.tch-right {
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 35%;
}

.tch-right p {
  font-size: .75em;
  text-transform: uppercase;
  /* line-height: .5em; */
  margin: 0;
}

.tc-date {
  display: inline-block;
  font-size: .75em;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

.red {
  background-color: red;
  color: white
}

.orange {
  background-color: orangered;
  color: white
}

.yellow {
  background-color: orange
}

.grey {
  background-color: grey;
  color: white
}

.white {
  background-color: white
}

#project-deets > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}