#tp-container {
  margin-top: 20px;
  padding: 0 10%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
#tp-container section {
  border: 1px solid #cacaca;
  border-radius: 10px;
  padding: 10px;
}
#tp-container section h2 {
  margin: 0;
}
#tpc-left {
  width: 60%;
}
#tpc-right {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  width: 40%;
}
.tp-deet {font-weight: bold;}
.plink {
  background-color: black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  width: fit-content;
}
.plink:hover {
  background-color: #944;
}

.tnote-card {
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
}
.tnote-card h4, .tnote-card p { margin: 0 }
.tnote-card p {
  margin-top: 5px;
}
.tnc-date {
  font-size: 0.75em;
  font-weight: bold;
}
